{% include base_path %}

<!-- start custom head snippets -->

<meta name="theme-color" content="#ffffff">

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/mstile-150x150.png">
<link rel="shortcut icon" href="{{ base_path }}/favicon.ico">
<meta name="theme-color" content="#ffffff">

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Nguyen Minh Loi",
  "email": "mailto:22120189@student.hcmus.edu.vn",
  "jobTitle": "AI Researcher",
  "affiliation": "Trivita AI",
  "alumniOf": "VNUHCM-University of Science",
  "url": "https://mf0212.github.io",
  "sameAs": [
    "https://github.com/mf0212",
    "https://www.linkedin.com/in/nguyenminhloimf/",
    "https://scholar.google.com/citations?user=f_btpZwAAAAJ&hl=en"
  ]
}
</script>

<!-- end custom head snippets -->
